@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sansita+Swashed:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* background-color: #24252a; */
}

body,
html {
  overflow: hidden;
	background: linear-gradient(0deg, rgba(198,193,194,1) 0%, rgba(215,166,125,1) 100%);
}


/* header styles */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	height: 8vh;
	background-color: #24252a;
	border-bottom: 1px solid white;
}

nav li, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #ecf0f1;
	text-decoration: none;
}

#title {
	font-family: 'Sansita Swashed', cursive;
	font-weight: 500;
	font-size: 32px;
	color: #ecf0f1;
	text-decoration: none;
	cursor: pointer;
}


.nav_btns {
	list-style: none;
}

.nav_btns li {
	display: inline-block;
	padding: 0px 20px;
	cursor: pointer;
}

.nav_btns li:hover {
	transition: all 0.3s ease 0s;
	color: #0088a9;
}

button {
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0,136,169,0.8);
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

/* main styles */
main {
	display: flex;
	flex-wrap: wrap;
	height: 92vh;
}



.sidebar {
	/* background-color: yellow; */
	width: 20%;
	/* height: 92vh; */
	list-style: none;
	padding: 10px;
}

.store-card {
	width: 60%;
	/* height: 7000px; */
	overflow-y: auto;
	height: 92vh;
	border-right: 1px ridge white;
	border-left: 1px ridge white;
	padding: 10px;
}

.form-window {
	/* background-color: white; */
	width: 20%;
	/* height: 92vh; */
	/* color: white; */
}

/* stores-container styles */
.store-names {
	font-weight: 500;
	font-size: 32px;
	color: #24252a;
	text-decoration: none;
	text-align: center;
	/* background-color: #ecf0f1; */
	padding: 20px;
	border-radius: 25px;
	cursor: pointer;
}

.store-names:hover {
	background-color: #ecf0f1;
}

/* store-card styles */
.logo {
	height: 200px;
	width: 200px;
}
